# Local evaluation only. Replace placeholders before starting.
# sit-console: previously http://api:8787
SIT_CONSOLE_SIT_API_BASE=http://host.docker.internal:8787
# sit-console: previously http://dbviewer:8090
SIT_CONSOLE_SIT_DBVIEWER_BASE=http://host.docker.internal:8090
# sit-console: previously http://testhub:8091
SIT_CONSOLE_SIT_TESTHUB_BASE=http://host.docker.internal:8091
# sit-console: previously http://web:80
SIT_CONSOLE_SIT_WEB_BASE=http://host.docker.internal:80
# sit: previously http://api:8787
SIT_SIT_API_BASE=http://host.docker.internal:8787
# sit: previously http://dbviewer:8090
SIT_SIT_DBVIEWER_BASE=http://host.docker.internal:8090
# sit: previously http://testhub:8091
SIT_SIT_TESTHUB_BASE=http://host.docker.internal:8091
# sit: previously http://web:80
SIT_SIT_WEB_BASE=http://host.docker.internal:80
